html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: georgia;
}

header{
    width: 100%;
    height: 190vh;
    background: url(../images/DSC.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.icon-color{
    background: green;
}

.logo{
    float: left;
    width: 80px;
    height 6opx;
    /* color: orange; */
    /* font-weight: bold;
    font-size: 24px; */
    
}
.logo-black{
    width: 80px;
    height: 60px;
}

.nav-custom{
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link-custom{
    color: green !important;
}

.nav-link-custom:hover{
    color: cyan !important;
    transition: 1s;
}

.navbar-nav-custom{
    padding-left: 30%;
    font-size: 19px;
}

/*.signin{
    border: 1px solid green;
    border-radius: 10px;
    padding: 5px;
    font-size: 17px;
}

.signin:hover{
    background: green;
    color: black;
    transition: .8s;
}

.account{
    border: 1px solid green;
    border-radius: 10px;
    padding: 5px; 
    font-size: 17px
}

.account:hover{
    background: green;
    color: black;
    transition: .8s;*/
}

@media(max-width:580px){
    .logo{
        position: fixed;
        top: 0;
        /* margin-top: 16px; */
    }
/*
    .signin{
        display: none;
    }

    .account{
        display: none;
    }

    .icon-color{
        margin-left: 80%;*/
    }
}

/* end of navigation */


/* who we are */
.who-we-are{
    font-weight: bold;
    font-size: 20px;
    color: blue;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}

/* end of who we are */


/* recent work */
.activities{
    font-weight: bold;
    font-size: 20px;
    color: green;
    text-decoration: underline;
    text-align: center;
    padding-top: 15px;
}

.recent-work-neymar{
    padding-top: 10%;
}

.overlay{
        width: 92%;
        height: 100%;
        background: rgba(0, 0, 0, 0.527);
        position: absolute;
        top: 0;
        color: white;
        padding: 5px;
        transition: 1s ease;
}

.nature-art{
    transform: translateY(100px);
    transition: 1.5s ease;
    color: #ff7903;
    font-size: 20px;
}

.diani-beach{
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 1.5s ease;

}

.overlay:hover{
    background-color: rgba(0, 0, 0, 0.85)

}
.overlay:hover .diani-beach{
    height: 30%;
    opacity: 1;
}

.overlay:hover .nature-art{
    transform: translateY(0)

}

.btn-custom{
    background: transparent;
    border: 1px solid green;
    color: white;
    margin-left: 40%;
    opacity: 0;
    
}

.overlay:hover .btn-custom{
    opacity: 1;
}

/* hover on button */
.btn-custom:hover{
    background: green;
    color: black;
    transition: .6s ease;
}

/* end of recent work */


/* footer */

.footer{
    background: #000;
    height: auto;
    padding-bottom: 10px;
}

.icon{
    color: green !important;
    padding: 10px;
    border: 1px solid green;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
}

.icon:hover{
    background: green;
    color: black !important;
    transition: 1s ease;
}

.line{
    background: green;
    height: 1px;
}

.copy{
    color: green;
    text-align: center;
}

/* end of footer */

/* ################################################################################################## */

/* about us page */

/* who we are and about us */

.header-about-banner{
    width: 100%;
    height: 95vh;
    background: url(../images/P15.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.who-we-are-header{
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    font-size: 19px;
    color: blue;
    text-decoration: underline;
}

.about-us-header{
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    font-size: 19px;
    color: green;
    text-decoration: underline;
}

/* end of who we are and about us */

/* mission, vision and core value */

.about-overlay{
    width: 93%;
    height: 100%;
    background: rgba(0, 0, 0, 0.827);
    position: absolute;
    top: 0;
}

.about-overlay-header{
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.about-overlay-sub-header{
    color: white;
    font-size: 18px;
}

.about-overlay-content{
    color: white;
    font-size: 16px;
}

.about-overlay-mission{
    color: white;
}

.about-overlay:hover{
    background: rgba(0, 0, 0, 0.9);
}

/* end of mission, vision and core values */


/* our team */

.our-team{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: green;
    padding-top: 3%;
    text-decoration: underline;
}

.card{
    border: 1px solid #EBEFF2;
}

.card-body{
    border: 1px solid #EBEFF2;
    height: 90px;
}

.card-body-content{
    text-align: center;
    font-size: 19px;
}

/* hover on card-body */
.card-body:hover{
    background: #EBEFF2;
    transition: 1s;
}

/* end of our team */

/* ######################################################################################3##### */

/* PRODUCT PAGE */

/*/*/*.header-product-banner{
    width: 100%;
    height: 95vh;
    background: url(../images/banner7.jpg) no-repeat 50% 50%;
    background-size: cover;
    /* background-attachment: fixed; */
}

.product-content-discription{
    text-align: center;
    padding-top: 20px;
    /* width: 90%; */
}

.hip-hop-graffiti{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: green;
    text-decoration: underline;
}

.overlay-product-content{
    width: 93%;
    height: 100%;
    background: rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 0;
    bottom: 0;
}
.btn-product-content{
    background: transparent;
    border: 1px solid green;
    color: blue;
    margin-top: 10%;
    margin-left: 40%;
}

.btn-product-content:hover{
    background: green;
    color: #000;
    transition: 1s ease;
}

.migos-art{
    color: white;
    text-align: center;
    padding-top: 30%;
    opacity: 0;
    font-size: 19px;
}

.currency{
    color: green;
    text-align: center;
    font-size: 20px;
    opacity: 0;
}

.overlay-product-content:hover{
    background: rgba(0, 0, 0, 0.827);
    transition: .6s;
}

.overlay-product-content:hover .migos-art{
    opacity: 1;
    transition: 1s;
}

.overlay-product-content:hover .currency{
    opacity: 1;
    transition: 1s;
}

/* end of product page */
*/*/*/
/* ########################################################################################## */

/* gallery page */

.header-gallery-banner{
    width: 100%;
    height: 95vh;
    background: url(../images/P32.jpg) no-repeat 50% 50%;
    background-size: cover;
    /* background-attachment: fixed; */
}

.overlay-gallery-hip-hop{
    width: 92%;
    height: 0;
    background: rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    padding: 5px;
    transition: 1s ease;
    opacity: 0;
}

/* hover on overlay */
.gallery-row:hover .overlay-gallery-hip-hop{
    height: 100%;
    opacity: 1;
}

.rasta-baby{
    color: green;
    text-align: center;
    font-size: 20px;
    padding-top: 80%;
}

.rasta-baby-content{
    color: white;
    text-align: center;
}

.btn-gallery{
    background: transparent;
    border: 1px solid green;
    margin-left: 40%;
    color: green;
}

/* hover on button */
.btn-gallery:hover{
    background: green;
    color: black;
    transition: .5s;
}

.overlay-art-collection{
    width: 92%;
    height: 0;
    background: rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    padding: 5px;
    transition: 1s ease;
    opacity: 0;
}

/* hover on overlay */
.gallery-row:hover .overlay-art-collection{
    height: 100%;
    opacity: 1;
}

.lion-header{
    color: green;
    text-align: center;
    font-size: 20px;
    padding-top: 40%;
}

/* end of gallery */

/* ################################################################################################### */

/* CONTACT PAGE */

.header-contact-banner{
    width: 100%;
    height: 95vh;
    background: url(../images/MA.jpg) no-repeat 50% 50%;
    background-size: cover;
    /* background-attachment: fixed; */
}

.contact-border{
    border: 1px solid #EBEFF2;
}

.btn-primary-contact{
    background: transparent;
    border: 1px solid green;
}

.btn-primary-contact:hover{
    background: green;
    transition: 1s ease;
}
/* end of contacts */

/* ####################################################################################################### */


//** CREATE ACCOUNT */
.create-account-background{
    width: 100%;
    height: 100vh;
    background: url(../images/wall.png) no-repeat 50% 50%;
    background-size: cover;
    /* background-attachment: fixed; */
}

.create-account-background-overlay{
    background-color: black;
    opacity: .9;
    width:90%;
    height:90vh;
    margin-left:5%;
    position: relative;
    top: 10%;
}

.access-account{
    color: green;
    text-align: center;
    padding-top: 5%;
}

.form-control{
    width: 80%;
    height: 5vh;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
}

.button-create{
    width: 81%;
    height: 6vh;
    background-color:transparent;
    border: 1px solid green;
    color: green;
    font-family: georgia;
    font-size:18px;
}
    
/* hover on button */
.button-create:hover{
    background: green;
    transition: 1s ease;
    color: black;
}

label{
    color: green;
}

.signup{
    margin-left:30%;
    width: 50%;
    height: 70%;
    padding-top: 5%;

}*/

/* end of create account */

/* ######################################################################################################## */

/* SIGN IN */
.sign-in-background{
    width: 100%;
    height: 100vh;
    background: url(../images/p5.jpg) no-repeat 50% 50%;
    background-size: cover;
    /* background-attachment: fixed; */
}

.sign-in-background-overlay{
    background-color: black;
    opacity: .8;
    width:90%;
    height:90vh;
    margin-left:5%;
    position: relative;
    top: 10%;
}

label{
    color:blue;
}


.form-control{
             width: 80%;
             height: 5vh;
             border: none;
             border-bottom: 1px solid white;
             outline: none;
             background-color: transparent;
             color: white;
}

.button{
       width: 81%;
       height: 6vh;
       background-color:transparent;
       border: 1px solid green;
       color: white;
       font-family: georgia;
       font-size:18px;
}

/* hover on button */
.button:hover{
    background: green;
    color: #000;
    transition: 1s ease;
}

.sign-in-header{
    color: green;
    padding-left: 5%;
}

.sign-in-content{
    color: white;
    padding-left: 5%;
}